body {
    background: linear-gradient(to bottom, lightblue, pink, purple);
    background: linear-gradient(to right, rgb(175, 63, 175), pink, lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}

.card{
   
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.5);    
    padding: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.img img{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.name {
    font-size: 35px;
    padding: 15px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
    color: #000;
    margin-top: 20px;
    margin-bottom:20px;
}

.social {
    display: flex;
    justify-content: center; 
    transition: transform 0.3s ease-in-out;
   
}

.social a:hover img {
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 18px;
    }

    .img img {
        width: 70px;
        height: 70px;
    }

    .name {
        font-size: 20px;
    }

    .title {
        font-size: 13px
    }
}